@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: "Hannotate SC", "M PLUS Rounded 1c", "Raleway", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #FFF;
  z-index: 999;
}

.header__inner {
  max-width: 1260px;
  height: 78px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__head {
  flex: 1 0 20%;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #FFD700;
  font-size: 24px;
  font-weight: 400;
}

.header__logo img {
  margin-right: 24px;
  width: 48px;
}

.header__body {
  flex: 4 0 80%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  margin-left: 48px;
  letter-spacing: -.05rem;
  font-size: 14px;
  font-weight: 700;
  color: #444;
}

.nav__item:hover {
  color: #FFD700;
  transition: .25s;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item a {
  padding: 24px 0;
}

.container {
  width: 100%;
  padding: 120px 0;
  position: relative;
}

.container.--grey {
  background-color: #FAFAFA;
}

.container.--first {
  padding: 198px 0 120px;
}

.footer {
  padding: 72px 0;
  width: 100%;
}

.footer__inner {
  width: 1260px;
  margin: 0 auto;
  display: column;
  align-items: center;
  justify-content: center;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #FFD700;
  font-size: 48px;
  margin-bottom: 72px;
}

.footer__top img {
  margin-right: 24px;
  width: 160px;
}

.footer__bottom {
  text-align: center;
  font-size: 12px;
}

.section {
  position: relative;
  width: 1260px;
  margin: 0 auto;
  z-index: 10;
}

.section__head {
  display: table;
  margin: 0 auto 48px;
  padding-bottom: 12px;
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.section__head::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  height: 2.5px;
  border-radius: 50px;
  background-color: #FFD700;
}

.listParent.--member {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.listParent.--member:last-child {
  margin-bottom: 0;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #CCC;
  border-radius: 5px;
  background-color: #FFD700;
}

.button:hover {
  transition: .25s;
  background-color: #222;
  color: #FFD700;
}

.button.--left {
  margin-right: 12px;
}

.product {
  width: 1260px;
  height: 400px;
  display: flex;
  align-items: center;
}

.product__thumb {
  width: 48%;
  height: 400px;
  margin-right: 4%;
  background-color: #CCC;
}

.product__main {
  width: 48%;
}

.product__head {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.product__body {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-bottom: 24px;
}

.corpTable {
  margin: 0 auto;
}

.corpTable__row {
  display: flex;
  align-items: center;
  padding: 48px 0;
  border-bottom: solid 1px #E5E5E5;
}

.corpTable__row::before {
  content: '';
  width: 4px;
  height: 24px;
  margin-right: 24px;
  background-color: #222;
}

.corpTable__head {
  width: 240px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
}

.corpTable__body {
  width: 360px;
  letter-spacing: .08em;
  font-size: 1.0rem;
  line-height: 1.4;
}

.infoList {
  width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 24px;
  border-bottom: 1px solid #CCC;
}

.infoList__date {
  width: 25%;
  font-size: 1.0rem;
  letter-spacing: .08rem;
}

.infoList a {
  width: 50%;
  padding: 12px 0;
}

.infoList a:hover {
  color: #FFD700;
  transition: .25s;
}

.infoList__title {
  font-size: 1.0rem;
  font-weight: 400;
}

.infoList__category {
  margin-right: 0;
  padding: 8px 12px;
  background-color: #CCC;
  font-size: .6rem;
  border-radius: 5px;
}

.memberCard {
  width: 240px;
  margin-right: 96px;
}

.memberCard:last-child {
  margin-right: 0;
}

.memberCard__thumb {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-bottom: 24px;
  background-color: #CCC;
}

.memberCard__thumb.--small {
  width: 200px;
  height: 200px;
}

.memberCard__text {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

.memberCard__text.--name {
  font-size: 1.4rem;
  letter-spacing: .4rem;
}

.memberCard.--small {
  width: 200px;
}

.article {
  width: 100%;
  padding: 150px 0 120px;
}

.article__date {
  display: block;
  width: 960px;
  margin: 0 auto 12px;
  text-align: right;
  font-size: .8rem;
  padding-right: 24px;
}

.article__title {
  width: 960px;
  margin: 0 auto 48px;
  padding: 24px;
  border-top: 2px solid #FFD700;
  border-bottom: 2px solid #FFD700;
  font-size: 1.4rem;
  font-weight: 400;
}

.article__body {
  width: 640px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;
}

.circle {
  width: 1080px;
  height: 1080px;
  border-radius: 50%;
  background-color: #FFD700;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
